
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";


@layer base {
  :root {
    
    --font-roboto: "Roboto", sans-serif;

    --color-publish-green: #22c55e; 
    --color-publish-gray: #9ca3af; 

    --color-article-hover: #f3f4f6;

    --color-save-active: #2563eb; 
    --color-save-disabled: #d1d5db; 
  }
}

body {
  font-family: var(--font-roboto);
}